

html {
    background-color: rgb(5, 168, 148);
}

nav {
    width: 1280;
    height: 1000;
    background-color: rgb(217, 217, 217)
}


footer {
    width: 1280;
    height: 1000;
    background-color: rgb(217, 217, 217)
}